.task{
 background: #CBECE4;
border-radius: 10px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */
padding: 0.5em;
margin: 0.4em;
color: #000000;
}

.task:hover{
 background: #28B090;
 color: #FFF;
}